.inner_page_breadcrumb.sm-breadcrumb {
  height: auto;
  padding: 40px;
}
.inner_page_breadcrumb.sm-breadcrumb .breadcrumb_content {
  margin-top: 20px;
}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #dc3545;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}
.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 13px;
  line-height: 1.6;
  opacity: 0;
  color: #dc3545;
  font-weight: bold;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}
.parsley-errors-list.filled {
  opacity: 1;
}
.login_form .form-control {
  margin-bottom: 5px;
}
header.header-nav.menu_style_home_one.style2 .ace-responsive-menu li a {
  font-weight: 500;
}
